<form>
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" name="id" #id placeholder="enter the id">
    </div>
    <div class="form-group">
        <label for="id">Name</label>
        <input type="text" name="name" #name placeholder="enter the name">
    </div>
    <div class="form-group">
        <label for="id">Image Url</label>
        <input type="text" name="imageUrl" #imageUrl placeholder="enter the imageUrl">
    </div>
    <button class="btn btn-primary" (click)="navigate(id.value,name.value,imageUrl.value)">Submit</button>
</form>